.navigator {
  background: black;
  position: fixed;
  width: 101%;
  margin: -1vh;
  padding: 1vh;
}
.zuen {
  color: white;
  text-align: center;
  font: oblique bold 35px cursive;
  text-transform: uppercase;
}
.icono_marisco {
  width: 15vh;
}
a {
  color: white;
  text-align: center;
  font: small-caption bold 130%;
  text-transform: uppercase;
  line-height: 30px;
}
.reservas {
  color: white;
}
.caja_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cod_header {
  height: 40%;
  width: 100%;
  margin: 3%;
}
.superposicion_cod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cod_text {
  position: absolute;
  background: rgba(255, 255, 0, 0.5);
  width: 100%;
  height: 5vh;
  text-align: center;
  text-decoration: underline;
  font: oblique bold 50px cursive;
  text-transform: uppercase;
  height: 9vh;
  margin: 30%;
}
.nosotros_terraza {
  display: flex;
  flex-direction: row;
  margin: 8% auto 10% 6%;
  margin: 8% auto 10% 6%;
}
.foto_terraza {
  margin-right: 10%;
  border-radius: 10px;
  height: auto;
  width: 110%;
}
.text_terraza {
  margin-right: 5%;
  line-height: 25px;
}
.nosotros_comedor {
  display: flex;
  flex-direction: row-reverse;
  margin: 8% auto 10% 6%;
  margin: 8% auto 10% 6%;
}
.text_comedors {
  margin: 5% 2% auto -1%;
  line-height: 25px;
}
.foto_comedor {
  margin-right: 1%;
  border-radius: 10px;
  height: 65vh;
  width: 105vh;
}
.mas_informacion {
  background: rgba(174, 37, 37, 0.956);
  color: white;
  text-align: center;
  width: 100%;
}
